* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    min-height: 100dvh;
    max-width: 75rem;
    margin-inline: auto;

    padding-block: 2rem;
    font-family: 'Press Start 2P', cursive; 
    color: #eee;
    background-color: #222;
}

header {
    position: relative;
    border-bottom: #eee solid 2px;

    & .top-interaction {
        display: flex;
        justify-content: space-between;
    }

    & .title-content {
        display: flex;
        flex-flow: column wrap;
        place-content: center;
        align-items: center;
        margin-top: 2rem;
        padding: 4rem;

        & .number {
            position: absolute;
            bottom: -30px;
            padding: 1rem 4rem;
            background-color: #eee;
            color: #222;
            font-size: clamp(2rem, 2vw, 2.5rem);
            border-radius: 2px;
            text-align: center;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'left right'
    'left right'
    'left right';
    place-content: center;
    place-items: center;

    margin-top: 3rem;

    & .left {
        display: grid;
        gap: 2rem;
        grid-area: 1 / 1 / span 3;
        place-items: center;

        padding: 2rem;

        & .guess {
            max-width: 200px;
            font-size: clamp(1.5rem, 1vw, 1.8rem);
            font-family: 'Press Start 2P', cursive;
            padding: 1rem 1rem;
            text-align: center;
            color: #eee;
            background-color: #222;
            border-radius: 4px;
            border: #eee solid 3px;
            box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.609);
            outline: none;
            
        }

        & .btn-check {
            padding: .8rem 1.5rem;
            font-family: 'Press Start 2P', cursive;
            font-size: clamp(.8rem, 1vw, 1.2rem);
            font-weight: 600;
            border: none;
            cursor: pointer;
            border-radius: 100px;
            margin-top: 1rem;

            &:hover {
                background-color: #eeeeeebb;
            }
        }
    }

    & .right {
        display: grid;
        gap: 3rem;
        
        grid-area: 1 / 2 / span 3;

        & .message {
            line-height: 1.5;
        }
    }

}


.btn {
    padding: 0.5rem 2rem;
    border: none;
    font: 600 clamp(1.2rem, 1vw, 1.8rem)/130% 'Press Start 2P', cursive;
    border-radius: 100px;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.609);
    cursor: pointer;
    

    &:hover {
        background-color: #eeeeeebb;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: clamp(0.875rem, 1vw, 0.938rem);
        padding-inline: 1rem;
        padding-block: 2rem;
        margin-inline: auto;
    }

    header {
        
        & .top-interaction {
            flex-flow: column wrap;
            place-content: center;
            align-items: center;
            gap: 2rem;

            & .btn-again {
                max-width: 250px;
            }
        }
    }

    main {
        grid-template-areas: 
        'left'
        'right';
        & .left {
            margin-left: 42px;
            
            
            grid-area: 1 / 1 / span 1;
        }
        & .right {
            margin-left: 80px;
            grid-area: 2 / 1 / span 1;

            & .hs-message {
                line-height: 130%;
            }
        }
    }
}